# Byte-compiled / optimized / DLL files
__pycache__/
lightning_logs/
outputs/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
.DS_Store

# --- Añadido para nuestro MVP ---
venv310/
.venv/
*.pth
*.mp4
temp_*.mp4
